@using UnitOfWorkDemo.Models;
@model List<Student>
@{
    ViewBag.Title = "Index";
}
<h2>Student Lists</h2>
<div style="margin-bottom:10px;">
    @Html.ActionLink("Add New Student", "CreateStudent", null, new { @class = "btn btn-primary" })
</div>
@Html.Partial("StudentList", Model)